:root {
  --apricot: #ffcdb2;
  --melon: rgb(255, 181, 162);
  --pastelPink: #e5989b;
  --englishLavender: #b5838d;
  --oldLavender: #6d6875;
}
@media (max-width: 900px) {
  #projects {
    grid-template-columns: none !important;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
  #nav-links {
    width: 100%;
    justify-content: space-evenly;
  }
  #nav-links > * {
    font-size: x-large;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* main {
    margin-top: 40px;
  } */
h1,
h2,
body {
  margin: 0;
}

* {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: var(--melon); */
  transition: 0.3s;
}

#contact {
  width: 100%;
  max-height: fit-content;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: var(--apricot);
}
#contact > h1 {
  /* justify-self: start; */
}
.contact.link {
  font-size: 2.5em;
  color: rgb(91, 38, 66);
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}
.contact.link:hover {
  color: rgb(47, 14, 32);

  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}
#about {
  width: 100%;
  max-height: fit-content;
  min-height: 50vh;
  background-color: var(--melon);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  /* transition: 0.3s; */
  padding: 50px;
  /* min-width: 50vw; */
  max-width: 600px;
}
#about-content > * {
  text-align: justify;
  font-size: 1.1em;
}
/* #welcome-section:hover {
    background: var(--pastelPink);
  } */
#welcome-text {
  font-size: 5em;
  margin: 0;
  transition: 0.3s;
  text-align: center;
}
#welcome-subtitle {
  text-align: center;
  color: var(--oldLavender);
  transition: 0.3s;
}
.shadow-near {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.shadow-far {
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}
#projects {
  /*   width: 95%; */
  /*   margin-left: 2.5%; */
  /*   margin-top: 2.5vh; */
  padding: 20px;
  /*   border-radius: 10px; */
  background: var(--pastelPink);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.link {
  font-weight: bold;
  color: rgb(91, 38, 66);
  text-decoration: none;
  transition: 0.3s;
}
.link:hover {
  color: rgb(33, 9, 22);
}
.project-tile {
  border-radius: 10px;
  background: var(--englishLavender);
  padding: 15px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-tile:hover {
  transform: scale(1.02);
}

.card-link {
  color: rgb(91, 38, 66);
  text-decoration: none;
  transition: 0.3s;
}
.card-link:hover {
  color: rgb(62, 20, 43);

  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.project-image {
  max-width: 100%;
  border-radius: 10px;
}
#navbar {
  width: 100%;
  min-height: 40px;
  max-height: fit-content;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(29, 29, 31, 0.72);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px) saturate(180%);
  justify-content: center;
  z-index: 5;
}
#nav-links {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /*   flex-basis: 200px; */
}
.nav-link {
  padding-left: 10px;
  text-decoration: none;
  color: var(--apricot);
  font-weight: bold;
}
